<div class="container">
  <div class="card">
    <br>
      <div class="card border-dark mb-3" style="max-width: 90rem;">
          <div class="card-header">Orientador</div>
          <div class="card-body text-dark">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="matriculaInput">Matricula</label>
                  <input type="text" 
                    class="form-control" 
                    id="matriculaInput" 
                    placeholder="Matricula" 
                    formControlName="Matricula">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="nomeCompletoInput">Nome Completo</label>
                  <input type="text" 
                    class="form-control" 
                    id="nomeCompletoInput" 
                    placeholder="Nome Completo" 
                    formControlName="Nome Completo">
                </div>
              </div>             
        </div>
        </div>
        </div>     
  </div>
   
 <div class="card">  
    <div class="card border-dark mb-3" style="max-width: 90rem;">
        <div class="card-header">Estagiario</div>
      <div class="card-body text-dark">
        <div class="row">
            
          <div class="col-sm-4">
            <div class="form-group">
              <label for="matriculaInput">Matricula</label>
              <input type="text" 
                class="form-control" 
                id="matriculaInput" 
                placeholder="Matricula" 
                formControlName="Matricula">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="nomeCompletoInput">Nome Completo</label>
              <input type="text"
              class="form-control"
              id="nomeCompletoInput"
              placeholder="Nome Completo"
              formControlName="nomeCompleto">
            </div>
          </div>
        </div> 

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="dataInicioInput">Data Inicio</label>
              <input type="date"
              class="form-control"
              id="dataInicioInput"
              placeholder=" /  /  "
              formControlName="dataInicio">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="dataFinal">Data Final</label>
              <input type="date"
              class="form-control"
              id="dataFinal"
              placeholder=" /  /  "
              formControlName="dataFinal">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-5 " >
            <div class="form-group">
              <button class="btn btn-success   " type="submit">Adicionar</button>
              <button class="btn btn-danger  " type="submit">Cancelar</button> 
            </div>  
          </div>   
        </div>
      </div>
    </div>
  </div>

  <div class="card">  
    <div class="card border-dark mb-3" style="max-width: 90rem;">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>Matricula</th>
                <th>Nome Completo</th>
                <th>Ação</th>
              </tr>
            </thead>
        </table>
    </div>
  </div>
</div>


