<ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="">HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="monitorLink = 'ESTAGIARIO'" href="#">ESTÁGIARIOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  (click)="monitorLink = 'ORIENTADORES'" href="#">ORIENTADORES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">CONSULTAS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">RELATÓRIOS</a>
        </li>
</ul>

<div [ngSwitch] = "monitorLink">
    <div *ngSwitchCase="'HOME'">
    </div>
    <div *ngSwitchCase="'ESTAGIARIO'">
        <app-lista-estagiario></app-lista-estagiario>
    </div>
    <div *ngSwitchCase="'ORIENTADORES'">
        <app-lista-orientador></app-lista-orientador>
    </div>
    <div *ngSwitchCase="'CONSULTAS'">
    </div>
    <div *ngSwitchCase="'RELATORIOS'">
      </div>
  </div>

